{% extends 'base.html' %}

{% block title %}{{Title}}{% endblock %}

{% block content %}
<h2>{{Title}}</h2>
<form method="get" id="filterForm" style="margin-bottom: 15px;">
    {{ status.as_p }}
</form>
<a href="{% url 'task_add' %}" style="display: inline-block; margin-bottom: 15px; padding: 6px 10px; text-decoration: none;">
    Add New Task
</a>

{% if tasks %}
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">#</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Title</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Assigned To</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Status</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Deadline</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ forloop.counter }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ task.title }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{% if task.assigned_department %}Dept: {{task.assigned_department.name}}{% else %}{{ task.assigned_to.user.name }}{% endif %}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ task.status }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;">{{ task.deadline|date:"Y-m-d" }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd; text-align: center;">
                    <a href="{% url 'task_detail' task.id %}">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tasks available.</p>
{% endif %}


{% endblock %}
