{% extends 'base.html' %}

{% block title %}Task Details{% endblock %}

{% block content %}
<a href="javascript:history.back()" 
    style="background-color: #007bff; color: white; padding: 8px 15px; 
            text-decoration: none; border-radius: 6px; font-size: 14px;">
    ← Back
</a>
<style>
    th{
        max-width:fit-content !important;
    }
    td{
        width: 100%;
    }
</style>
<h2>Task Details</h2>

<table>
    <tr>
        <th>Title</th>
        <td>{{ task.title }}</td>
    </tr>
    <tr>
        <th>Assigned To</th>
        <td>{% if task.assigned_department %}{{ task.assigned_department.name }}{% else %}{{ task.assigned_to.user.name }}{% endif %}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ task.status }}</td>
    </tr>
    <tr>
        <th>Deadline</th>
        <td>{{ task.deadline }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ task.description }}</td>
    </tr>
    <tr>
        <th>Created At</th>
        <td>{{ task.created_at }}</td>
    </tr>
    {% if task.ticket %}
    <tr>
        <th>Related Ticket</th>
        <td>
            <strong>Subject:</strong> {{ task.ticket.subject }}<br>
            <strong>Description:</strong> {{ task.ticket.description }}<br>
            <strong>Status:</strong> {{ task.ticket.status }}<br>
        </td>
    </tr>
    {% endif %}
</table>
{% if task.created_by == request.user %}
{% if task.parent_task %}
<a style="background-color: #1876b4; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;" href="{% url 'task_detail' task.parent_task.id %}" style="text-decoration: none;">View Parent Task</a>
{% endif %}

<a style="background-color: #2874a7; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;" href="{% url 'task_edit' task.id %}">Edit Task</a>
{% endif %}
{% if task.assigned_department %}
<a style="background-color: #2874a7; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;" href="{% url 'task_assign_from_task' task.id %}" style="text-decoration: none;">Create sub Task</a> 
{% endif %}
{% if task.created_by == request.user %}
<a style="background-color: #2874a7; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;" href="{% url 'task_review' task.id %}">Review Task</a>
{% endif %}
<a href="{% url 'task_update_status' task.id %}" style="background-color: #28a745; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;">Update Status/Upload Output</a>
{% if task.created_by == request.user %}
<a style="background-color: #a72828; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;" href="{% url 'task_decline' task.id %}?NextPath=ticket_detail">Delete</a>
{% endif %}
{% if Outputs %}
<h3>Outputs:</h3>
<table>
    <tr>
        <th>#</th>
        <th>File</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
        <th>Action</th>
    </tr>
    {% for attachment in Outputs %}
    <tr>
        <td  style="width: fit-content;">
            O{{ forloop.counter }}
        </td>
        <td style="width: fit-content;">
            <a href="{{ attachment.file.url }}">{{ attachment.file.name|cut:"task/attachments/" }}</a>
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_by }}
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_at|date:"Y-m-d H:i" }}
        </td>
        <td  style="width: fit-content;">
            
            {% if request.user.role == "ADMIN" or task.created_by == request.user or attachment.uploaded_by == request.user   or  attachment.uploaded_by.role == "EMPLOYEE" and request.user.role == "MANAGER"   %}
                <form method="post" style="display:inline;" action="{% url 'task_edit' task.id%}">
                    {% csrf_token %}
                    <input type="hidden" name="toLocation" value="task_detail">
                    <input type="hidden" name="delete_attachment_id" value="{{ attachment.id }}">
                    <button type="submit" onclick="return confirm('Delete this file?')">Delete</button>
                </form>
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <tr>No Outputs.</tr>
    {% endfor %}
</table>
{% endif %}

<h3>Attachments:</h3>
{% if Attachs %}
<table>
    <tr>
        <th>#</th>
        <th>File</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
        <th>Action</th>
    </tr>
    {% for attachment in Attachs %}
        <tr>
        <td  style="width: fit-content;">
            A{{ forloop.counter }}
        </td>
        <td style="width: fit-content;">
            <a href="{{ attachment.file.url }}">{{ attachment.file.name|cut:"task/attachments/" }}</a>
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_by }}
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_at|date:"Y-m-d H:i" }}
        </td>
        <td style="width: fit-content;">
            {% if request.user.role == "ADMIN" or attachment.uploaded_by == request.user   or attachment.uploaded_by.role == "EMPLOYEE" and request.user.role == "MANAGER"  %}
                <form method="post" style="display:inline;" action="{% url 'task_edit' task.id%}">
                    {% csrf_token %}
                    <input type="hidden" name="toLocation" value="task_detail">
                    <input type="hidden" name="delete_attachment_id" value="{{ attachment.id }}">
                    <button type="submit" onclick="return confirm('Delete this file?')">Delete</button>
                </form>
            {% else %}
            <p>No permission to delete</p>
            {% endif %}

            </td>
        </tr>
    {% endfor %}
</table>
{%else%}
<p>No attachments.</p>
{% endif %}


{% if childTask %}
<hr>
<h3>Sub Tasks:</h3>
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;width: fit-content;">#</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;width: fit-content;">Title</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;width: fit-content;">Assigned To</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;width: fit-content;">Status</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;width: fit-content;">Deadline</th>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;text-align: center;width: fit-content;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in childTask %}
        <tr>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;width: fit-content;">{{ forloop.counter }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;width: fit-content;">{{ task.title }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;width: fit-content;">{% if task.assigned_department %}Dept: {{task.assigned_department.name}}{% else %}{{ task.assigned_to.user.name }}{% endif %}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;width: fit-content;">{{ task.status }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd;width: fit-content;">{{ task.deadline|date:"Y-m-d" }}</td>
            <td style="padding: 8px; border-bottom: 1px solid #ddd; text-align: center;width: fit-content;">
                    <a href="{% url 'task_detail' task.id %}">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


<h3>Manager/Admin Feedback & Comments:</h3>
<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.author }}:</strong> {{ comment.text }} <br>
            {% if comment.attachment %}
                <a href="{{ comment.attachment.url }}">Download feedback file</a>
            {% endif %}
            <em>Posted at {{ comment.created_at }}</em>
        </li>
    {% empty %}
        <li>No feedback yet.</li>
    {% endfor %}
</ul>

<br>
{% endblock %}