{% extends 'base.html' %}

{% block title %}All Tickets{% endblock %}

{% block content %}
<h2>All Tickets</h2>
<style>
    th,td{
        padding: 8px; text-align: left; border-bottom: 1px solid #ddd;
    }
</style>
{% if tickets %}
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Title</th>
            <th>Status</th>
            <th style="text-align: center;">Notifications</th>
            <th style="text-align: center;">Total Tasks</th>
            <th style="text-align: center;">Pending Tasks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ ticket.customer.user.name }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.status }}</td>
            <td style="text-align: center;">{% if ticket.Notification == 0 %}---{% else %}{{ ticket.Notification }}{% endif %}</td>
            <td style="text-align: center;">{{ ticket.total }}</td>
            <td style="text-align: center;">{{ ticket.pending }}</td>
            <td style="text-align: center;">
                <a href="{% url 'ticket_detail' ticket.id %}">View details</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tickets available.</p>
{% endif %}


{% endblock %}
