{% extends 'base.html' %}

{% block title %}Ticket Details{% endblock %}

{% block content %}

<style>
    th{
        max-width:fit-content !important;
    }
    td{
        width: 100%;
    }
    a{
        position: relative;
    }
    .notify{
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 10px;
    }
    
</style>

<h2>Ticket Details</h2>

<table>
    <tr>
        <th>Project</th>
        <td>{{ ticket.subject }}</td>
    </tr>
    <tr>
        <th>Customer</th>
        <td>{{ ticket.customer.user.name }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ ticket.status }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ ticket.description }}</td>
    </tr>
    <tr>
        <th>Created At</th>
        <td>{{ ticket.created_at }}</td>
    </tr>
</table>
<div style="display: flex;gap: 5px;align-items:center">
{% if ticket.status != 'Closed' and ticket.status != 'Canceled' %}
<a style="background-color: #2878a7; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;"href="{% url 'ticket_assign' ticket.id %}">Assign new tasks</a>
<a href="{% url 'ticket_update_status' ticket.id %}" style="order:4;background-color: #28a745; color: white; padding: 8px 15px; 
text-decoration: none; border-radius: 6px; font-size: 14px;margin-left: 5px;">Send Output</a>
{% endif %}
<a style="background-color: #2861a7; color: white; padding: 8px 15px; 
                  text-decoration: none; border-radius: 6px; font-size: 14px;"href="{% url 'ticket_response' ticket.id %}">Respond to client {% if ticket.notification != 0 %} <span class="notify">{{ticket.notification}}</span>{% endif %}</a>

</div>

<style>
    .myTables th,.myTablestd{
        padding: 8px; text-align: left; border-bottom: 1px solid #ddd;
    }
</style>
<div style="display: flex;flex-direction: column;">

{% if bugs %}
<div style="order: {% if bugsSt == 0 %}5{% else %}0{% endif %};">
<h3 style="color: red;">Bug:</h3>
<table class="bugTable">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Problem</th>
        <th style="width: fit-content;text-align: center;">Status</th>
        <th style="width: fit-content;text-align: center;">Created Date</th>
        <th style="width: fit-content;text-align: center;">Action</th>
    </tr>
    {% for bug in bugs %}
    <tr>
        <td  style="width: fit-content;">
            B{{ forloop.counter }}
        </td>
        <td style="width: fit-content;">
            {{bug.title}}
        </td>
        <td  style="width: fit-content;">
            {{ bug.description }}
        </td>
        <td  style="width: fit-content;text-align: center;" >
            <p class="fixed">{{ bug.status }}</p>
        </td>
        <td style="width: fit-content;text-align: center;">
            {{bug.created_at}}
        </td>
        <td style="width: fit-content;text-align: center;">
                <a href="{% url 'update_bug_status' bug.id %}"><button type="submit" >Update Status</button></a>
        </td>
    </tr>
    {% empty %}
        <tr>No bugs.</tr>
    {% endfor %}
</table>
</div>
{% endif %}


{% if Outputs %}
<hr>
<h3>Outputs:</h3>
<table class="myTables">
    <tr>
        <th>#</th>
        <th>File</th>
        <th>Uploaded By</th>
        <th>Uploaded On</th>
    </tr>
    {% for attachment in Outputs %}
    <tr>
        <td  style="width: fit-content;">
            O{{ forloop.counter }}
        </td>
        <td style="width: fit-content;">
            <a href="{{ attachment.file.url }}">{{ attachment.file.name|cut:"ticket_attachments/" }}</a>
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_by }}
        </td>
        <td  style="width: fit-content;">
            {{ attachment.uploaded_at|date:"Y-m-d H:i" }}
        </td>
    </tr>
    {% empty %}
        <tr>No Outputs.</tr>
    {% endfor %}
</table>
{% endif %}

<hr>
<h3>Tasks:</h3>
{% if tasksdetails %}
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th >#</th>
            <th >Title</th>
            <th >Assigned To</th>
            <th style="width: fit-content;">Status</th>
            <th style="width: fit-content;">Deadline</th>
            <th style="width: fit-content;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasksdetails %}
        <tr>
            <td style="width: fit-content;">{{ forloop.counter }}</td>
            <td style="width: fit-content;">{{ task.title }}</td>
            <td style="width: fit-content;">{% if task.assigned_department %}Dept: {{task.assigned_department.name}}{% else %}{{ task.assigned_to.user.name }}{% endif %}</td>
            <td style="width: fit-content;">{{ task.status }}</td>
            <td style="width: fit-content;">{{ task.deadline|date:"Y-m-d" }}</td>
            <td style="width: fit-content;">
                <a href="{% url 'task_detail' task.id %}" style="text-decoration: none;">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tasks available.</p>
{% endif %}

<h3>Attachments:</h3>
<ul>
    {% for file in attachments %}
    
        <li><a href="{{ file.file.url }}">{{ file.file.name }}</a> (uploaded at {{ file.uploaded_at }})</li>
    {% empty %}
        <li>No attachments.</li>
    {% endfor %}
</ul>
<br>
</div>
{% endblock %}
